<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", header= None)

In [7]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [9]:
df.columns = ['Class_Name', 'Handicapped_Infants', 'Water_Project_Cost_Sharing', 'Adoption_Of_The_Budget_Resolution', 'Physician_Fee_Freeze', 'El_Salvador_Aid', 'Religious_Groups_In_Schools', 'Anti_Satellite_Test_Ban', 'Aid_To_Nicaraguan_Contras', 'Mx_Missle', 'Immigration', 'Synfuels-Corporation_Cutback', 'Education_Spending', 'Superfund_Right_To_Sue', 'Crime', 'Duty_Free_Exports' ,'Export_Administration_Act_South_Africa']
df.head()

   Class_Name  ... Export_Administration_Act_South_Africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [13]:
import numpy as np
df.replace(['n', 'y', '?'], [0, 1, np.NaN], inplace= True)
df.head()

   Class_Name  ...  Export_Administration_Act_South_Africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
lib = df[df['Class_Name'] == 'republican']
con = df[df['Class_Name'] == 'democrat']

In [16]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

for column in df:
  if column == 'Class_Name':
    continue
  print("For the issue of ", column, ":")
  print(ttest_ind(con[column], lib[column], nan_policy='omit'))

For the issue of  Handicapped_Infants :
Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)
For the issue of  Water_Project_Cost_Sharing :
Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)
For the issue of  Adoption_Of_The_Budget_Resolution :
Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)
For the issue of  Physician_Fee_Freeze :
Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)
For the issue of  El_Salvador_Aid :
Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
For the issue of  Religious_Groups_In_Schools :
Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)
For the issue of  Anti_Satellite_Test_Ban :
Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443867e-31)
For the issue of  Aid_To_Nicaraguan_Contras :
Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)
For the issue of  Mx_Missle :
Ttest_indResult(statistic=16.437503268542994, pvalue=5.03079265310811e-47)
For the issue of  Immigration :
Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)
For the issue of  Synfuels-Corporation_Cutback :
Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)
For the issue of  Education_Spending :
Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)
For the issue of  Superfund_Right_To_Sue :
Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672758e-34)
For the issue of  Crime :
Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)
For the issue of  Duty_Free_Exports :
Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174347365e-32)
For the issue of  Export_Administration_Act_South_Africa :
Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672226e-11)